html, body {
  margin: 0;
  padding: 0;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 20%;
  padding: 0px;
  margin: 0px;
 
}

.p5Canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  opacity: 1; 
  z-index: 2;   /* above Hydra */
  pointer-events: none; /* optional: allows clicks to pass through */
}

      #hydraCanvas{
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        opacity: 0.5;
      }


            #mycanvas{
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        opacity: 0.2;
      }
